
#  All file types and folders to ignore

# files types / extensions
*.lock

# specific files
.DS_Store
Thumbs.db

# folders
bin/
.project
.metadata
.settings

/casperdatasets/.classpath
/casperdatasets/.project
/casperdatasets/.settings
/casperdatasets/target
